_site
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.docx
index.tex
.dropbox
id\_dsa.pub
Icon*
pre-papers/*
*.synctex.gz
_knitr-posts/cache/*
AndersonCV.pdf
*.o
*.so
*.cpp
.Rproj.user/
papers.md
.Rproj.user

*.espressostorage

cv-body.md
