/* Remove browser styles (see http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html,body {
	text-align:center;
	background-color: black;
	color: #e7e7e7;
	margin-top: 30px;
	margin-bottom: 20px;
	font: 14px/14px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

p {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 12px;
	text-align: left;
}

a {
	color: #e7e7e7;
	text-decoration: underline;
/*	background-color: #323232;*/
	padding-top: 3px;
	padding-bottom: 3px;
}

a:hover {
	text-decoration: none;
	background-color: #555;
	padding-top: 3px;
	padding-bottom: 3px;

}

h1 {
	font-size: 27px;
	line-height: 35px;
	margin-bottom: 12px;
	text-align: left;
}

div {
	border: 0px solid #a7a7a7;
	margin-left: auto;
    margin-right: auto;
    width: 600px;

	margin-bottom: 25px;
}

div#intro {
	border: 0px solid #6a6a6a;
	height: 340px;
	margin-bottom: 60px;
}

div#p1 {
	background-image: url(moviestar-circle.png);	
	  width: 1200px;
	height: 1200px;
}

}