<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- RSS
  ================================================== -->
  <link href="http://seananderson.ca/feed.xml" rel="alternate" type="application/rss+xml" title="Sean Anderson" />

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="/css2.1.6/base.css">
  <link rel="stylesheet" href="/css2.1.6/skeleton.css">
  <link rel="stylesheet" href="/css2.1.6/layout.css">
  <!--<link rel="stylesheet" href="/css2.1.6/tomorrow.css">-->
  <link rel="stylesheet" href="/css2.1.6/syntax2.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

  <!-- Lightbox
  ================================================== -->
  <script src="/js/jquery-1.10.2.min.js"></script>
  <script src="/js/lightbox-2.6.min.js"></script>
  <link href="/css2.1.6/lightbox.css" rel="stylesheet" />

  <!-- Altmetric
  ================================================== -->
  <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

  <!-- MathJax
  ================================================== -->
  <script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

</head>

<body>

  <!-- Primary Page Layout
  ================================================== -->

  <div class="container">
    <div class="offset-by-two">
    <div class="twelve columns">
      <div class="masthead">
        <div class="sean">
         <a href="/">Sean C. Anderson</a>
        <br />
      </div>
        <a href="/">About</a>
        <!--<span class="mastdiv">/</span>-->
        <!--<a href="/portfolio.html">Figures</a>-->
        <span class="mastdiv">/</span>
        <a href="/cv.html">CV</a>
        <span class="mastdiv">/</span>
        <a href="/blog.html">Blog</a>
        <span class="mastdiv">/</span>
        <a href="https://github.com/seananderson">Code</a>
        <span class="mastdiv">/</span>
        <a href="/portfolio.html">Figures</a>
        <span class="mastdiv">/</span>
        <a href="http://www.flickr.com/photos/seananderson/">Photos</a>
        <span class="mastdiv">/</span>
        <a href="http://twitter.com/sean_anderson">Twitter</a>
        <span class="mastdiv">/</span>
        <a href="/contact.html">Contact</a>
      </div>
