/* @override http://localhost:4000/css2.1.3/layout.css */

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */


sup {
	font-size:xx-small;
	vertical-align:super
}

.date {
	color: #898989;
	text-transform: none;
	font-size: 14px;
	line-height: 0;
}

.end-of-post {
	height: 20px;
}

.masthead {
	padding-bottom: 12px;
	margin-bottom: 22px;
	padding-top: 20px;
	font-weight: normal;
	font-size: 18px;
	border-bottom: 1px solid #ededed;
	}

.masthead a, .masthead a:visited{
	border-bottom-style: none;
	color: #080808;
}

/*.masthead a:hover{
	border-bottom-style: none;
	color: #eb521f;
}*/


/* dividers (|) in masthead */
.mastdiv{
	color: #d1d1d1;
	padding-left: 1px;
	padding-right: 1px;
}

.sean{
	padding-bottom: 5px;
	font-size: 26px;
	font-weight: bold;
	border-bottom: 0px solid #dfdfdf;
	margin-bottom: 12px;
	color: #353535;
}

.sean a, .sean a:visited{
	color: #353535;
}

.contactsub a, .contactsub a:visited {
	color: #898989;
}

.contactsub {
	color: #898989;
	font: normal 11px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
	padding-bottom: 18px;
	text-transform: none;
	color: #828282;
	padding-top: 11px;
	border-top: 1px solid #ededed;
	margin-top: 5px;
 	font-size: 18px;
}

.footer a, .footer a:visited {
	color: #828282;
	border-bottom-style: none;
}

.footer a:hover{
	border-bottom-style: none;
	color: #828282;
}


/* #Page Styles
================================================== */

/* CV */
/*lists*/
dt {
	position: relative;
	left: 0;
	top: 25px;
	color: #626262;
	font-size: 14px;
	text-transform: none;
	width: 57px;
}

dd {
	border-left: 1px solid #dfdfdf;
	padding: 0 0 0 9px;
	margin: -5px 0 0 63px;
}   

dl {
	margin-bottom: 20px;
	margin-top: -20px;
} 

img {
	border: 0px solid #ccc;
}  

img.bigpicture {
	margin-left: -210px;
}

.headshot {
	float: left;
	margin: 8px 30px 10px 0px;
}

h1 {
	padding-top: 12px;
	padding-bottom: 12px;
}

h1 a.link {
  	border: none;
	font-size: 18px;
	color: #474747;
	border-bottom: 1px solid #cdcdcd;
}

h1 a.link:hover{
  	color: #eb3808;
	background-color: #ededed;
	border-bottom-style: none;
}


div.postlinkcontent {
	font-size: 18px;
	line-height: 24px;
	color: #373737;
	
}

.postlinkperma {
	font-size: 16px;
	margin-left: 6px;
	color: #474747;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

/* #Code block formatting */

pre {
  /*width: 500px;*/
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word;
	margin-bottom: 20px;
	border: 1px solid #e6e6e6;
	line-height: 20px;
  line-height: 20px;
	padding-left: 12px;
	border-left: 7px solid #dadada;
	padding-bottom: 10px;
	padding-top: 10px;
}


code,
pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
	font: 15px/22px Menlo, Monaco, Consolas, "Courier New", monospace;
	background-color: #f3f3f3;

}

li code, table code, h1 code, h2 code, p code {
  color: #353535;
  white-space: wrap;
  border: 1px solid #e6e6e6;
  padding: 1px 2px;
}

h1 code {
	font-size: 22px;
}
h2 code {
	font-size: 16px;
}

/*pre {
  background-color: #f4f4f4;
  display: block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 0 18px;
  padding: 10px 10px 10px 20px;
}*/
 
.archive-title {
	font-weight: bold;
	font-size: 26px;
}


.archive-subtitle {
	color: #858585;
	font-style: italic;
	margin-top: -18px;
}

li.blog-archive {
	padding-bottom: 20px;
}

ul {
	margin-left: 0;
	list-style-type: none;
}

ol, table {
	margin-bottom: 20px;
}

.post-title {
	font-size: 36px;
	line-height: 54px;
	padding-top: 0;
}


td, th {
	
	padding-right: 10px;
	padding-left: 10px;
}

th {
	border-bottom: 1px solid #c5c5c5;
}

.portfolio-fig  {
	border: 1px solid #c0c0c0;
}
