---
layout: default
blog: true
---

{% if page.link %}
  <h1 class="post-title"><a href="{{ page.link }}" class="link">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h1>
  <div class="postlinkcontent">
 {{ content }}
</div>
{% else %}
<span class="date">{{ page.date | date: '%B' }} {{ page.date | date: '%e' }}, {{ page.date | date: '%Y' }}</span>
  <h1 class="post-title"><a href="{{ page.url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h1>
  {{ content }}
{% endif %}

<div class="end-of-post">
</div>
